.types{ 
    width: 25%;
    float: left;
   
    
 }

h1{
    text-align: center;}
span{
    color: blueviolet;
    text-align: center;
}
.types h2,p2 {
    text-align: center; 
}
    img{
        width: 100%;
        border-radius: 50%;
        border: 10px solid rgb(255, 0, 191);
        height: 100px;
    }
.containter{ 
    width: 90%; 
    margin: auto;
}
    

